//===============================================================================
// VARIABLES
//===============================================================================
// COLOURS
$paper: white;
$ink: #263238;

$blue: #276fdc;
$red: #e22d00;
$yell: darken(#f4ce00, 1);
$green: #1bb610;
$aqua: #00aedb;


// TYPOGRAPHY
$base-font-size: 14px;
$proxima: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 

$bold: 600;
$regular: 400;
$light: 100;

$tera: 86px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 24px;
$gamma: 22px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;


// SPACING: Grid, Viewports etc
$large: 1000px;
$medium: 650px;
$small: 500px;

$gutter: 20px;